<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}">
  <link href="../static/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <title>TODO</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">TODO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home ">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Erstellen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/autoren">Impressum<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
  <div class="d-flex flex-wrap">

     {% for todo in todos %}

         <div class="todoItem p-2">
            <h4>{{ todo.title }}</h4>
            <div class="my-2">{{ todo.deadline }}</div>
          <div class="my-2">
            <div class="my-2">{{ todo.description }} </div>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="{{ todo.progress }}" aria-valuemin="0" aria-valuemax="100">{{ todo.progress }}</div>
            </div>
          </div>
          <div class="my-2">
            <div class="btn-group">
              <form action="{% url 'update-view' todo.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="todo_id" value="{{ todo.id }}">
                  <button class="btn btn-primary" type="submit">
                      <span class="oi oi-pencil"></span>
                      <span class="btn-no-mobile"> Bearbeiten</span>
                  </button>
              </form>
              <button type="button" class="btn btn-danger" name="delete">
                <span class="oi oi-trash"></span>
                <span class="btn-no-mobile"> L&ouml;schen</span>
              </button>
            </div>
          </div>
         </div>

     {% endfor%}

  </div>
  </main>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
